@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48


}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,12,38,0.7203256302521008) 100%, rgba(0,212,255,1) 100%);
}
.playlist{
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg,
 rgba(2,0,36,1) 0%, rgba(95,9,121,1)
  100%, rgba(0,212,255,1) 100%);
}
.nombre-playlist{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: flex-end;
}
 
.info-playlist{
    font-family: 'Roboto', sans-serif;
margin-left: 40px;
color: aliceblue;
}
.lista-titulos{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    margin: 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;   
}
.nombres{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    display: flex;
    color: aliceblue;
    justify-content: space-around;
   }

.arca1{
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: aliceblue;
}
.img-cancion{
    font-family: 'Roboto', sans-serif;
    width: 50px;
}
   .color{
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,12,38,0.7203256302521008) 100%, rgba(0,212,255,1) 100%);
   }
   .arca2{
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: aliceblue;
}
   .img-dos{
    font-family: 'Roboto', sans-serif;
    width: 50px;
   }
   .nombre-cancion{
    font-family: 'Roboto', sans-serif;
    
    margin-left: 40px;
   }
   .album{
    font-family: 'Roboto', sans-serif;
    margin-left: 90px;
   }
   .añadido{
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
   }
   .tiempo{
    margin-left: 90px;
   }

   p{
    width: 203px;
   }
   .img-julian{
    width:30px;
    color: aliceblue;
    
   }
   .julian{
    color: aliceblue;
    display: flex;
   }
   .puntos{
    width:-2px;
   }
  .buscador{
    width: 
  }
.material-symbols-outlined{
    
}



    


